@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  font-family: "Poppins";
  color: white;
  background: #262833;
}

.left-side {
  width: 50%;
  float: left;
  background: #262833;
  padding: 5%;
}
.right-side {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: gray;
  color: #01ffa0;
  background: #262833;

  text-align: center;
}

.left-text {
  width: 50%;
  float: left;
}

.main-text {
  color: white;
  font-size: 36px;
}

p, li {
  font-size: 20px;
}

h2 {
  color: #5598de;
}

a {
    color: orange;
    text-decoration: none;
}

  .tp-dfwv {
    position: fixed;
  }

@media (max-width: 900px) {
  /* For mobile phones: */

  p, li {
    font-size: 15px;
  }
  
    
  .tp-dfwv {
    display: none;
  }
  
  [class*="main-text"] {
    font-size: 24px;
  }
  
  [class*="right-side"] {
    display: none;
  }
  
  [class*="left-side"] {
    width: 100%;
  }
  
}

#container {
  text-align: center;
}

#text {
  display: inline-block;
  vertical-align: middle;
  color: #5598de;
  letter-spacing: 2px;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #5598de;
  }
}
