@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}


body
{
    font-family: 'Poppins';
}

.nav_bar {
    border-bottom: 1px solid silver;
    position: relative;
    text-align: center;
}

div {

}

div ul {
    display: inline-block;
}

.bottom_border {
    border-bottom: 1px solid silver;
}

.project_block {
    width: 70%;
    margin: auto;
}

.project_images {
    text-align:center;
}

.color-text {

  
}


h1, h2, h3, h4 {
    font-weight: bold;
    font-family: 'Poppins';
    margin-left: 5px;
}



p {
    margin-left: 5px;
    margin-right: 1%;
    font-family: 'Poppins';
}

.nav_bar_element {
    font-size: 20px;

}

li + li {
    margin-left: 10px;
}

.name_text {
    text-align: center;
    margin: auto;
    font-family: 'Poppins';
    font-size: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    text-decoration: underline;
}

.active {
    background-color: #4CAF50;
}

.project_links {
    color: royalblue;
    text-decoration: none;
}

a {
    color: royalblue;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/*-- Trying to make a custom grid system -- */
/* Create two equal columns that floats next to each other */

.column_1 {
    float: left;
    width: 16.67%;
    padding: 5px;
}

.column_1_5 {
    float: left;
    width: 20%;
    padding: 5px;
}

.column_1_4 {
    float: left;
    width: 25%;
    padding: 5px;
}

.column_2  {
    float: left;
    width: 33.3%;
    padding: 5px;
}

.column_3 {
    float: left;
    width: 50%;
    padding:5px;
}

.column_4 {
    float: left;
    width: 66.67%
    padding: 5px;
}

.column_6 {
    float: left;
    width: 100%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row_1::after {
    content: "";
    clear: both;
    display: table;
}

.row_1_5::after {
    content: "";
    clear: both;
    display: table;
}

.row_2::after {
    content: "";
    clear: both;
    display: table;
}

.row_3::after {
    content: "";
    clear: both;
    display: table;
}

.row_4::after {
    content: "";
    clear: both;
    display: table;
}

.row_5::after {
    content: "";
    clear: both;
    display: table;
}
