@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}


body
{
    background: #262833;
    font-family: 'Poppins';
    padding: 20px;
}


#left-side {
    width: 50%;
    float: left;
    background: #262833;
  
}
.right-side {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: green;
    color: #01ffA0;
}


@media (max-width: 900px) {
  /* For mobile phones: */
  [class*="col"] {
    width: 50%;
  }
  
  [class*="project"] {
    width: 100%;
  }
  
  [class*="right-side"] {
    width: 0;
  }
}

p {
  font-size: 22px;
}

#container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: orange;
	letter-spacing: 2px;
}


@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}