
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .blogPost {
      width: 50%;
      margin: 0 auto;
  }

  .post-link-title {
      font-size: 1rem;

  }

  .post-link-title:hover {
      color: #E03857
  }

  .post-link-full-title {
      font-size: 1.25rem;
  }

  .post-link-full-date {
      /* margin-top: -.8rem;
      margin-left: .5rem; */
      font-size: .8rem;
      opacity: .5;
  }

  .post-link-full {
      margin-bottom: 4rem;
      margin-right: 4rem;
  }

  .post-link-date {
      font-size: .6rem;
  }

  .list-header {
    vertical-align: middle;
    margin: 0 auto;
    width: 50%;
    text-align: center;
  }

  .list-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-right: 12px;
      vertical-align: middle;
  }

  .list-toggle {
      vertical-align: middle;
      justify-content: center;
  }

  .toggle-button {
      font-size: .8rem;
    color: #E03857;
    background-color: #F1E8E3;
    /* background-color: #f1e8e3; */
    border-radius: 8px;
    border: none;
    height: 50px;
    width: fit-content;
    padding: 0px 5px;
    cursor: pointer;
    margin-bottom: .8rem;
}

.toggle-button:hover {
    color: black;
}

.blog-header {
    vertical-align: middle;
    margin-bottom: 4rem;
}