@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #484848;
}

h2 {
  font-size: 24px;
}

li {
  font-size: 18px;
}

hr {
    border: 1px solid black;
}

html {
    background-color: #FAF0E1;
}

a {
    color: #E03857;

}

.content {
    width: 65%;
    margin: 0 auto;
}
    /* background-color:#F1E8E3;
    color: #E03857; */

.description {
    margin-bottom: 1rem;
}

.column-title {
  font-size: 1.25rem;
}



  .flex-grid-container {
    display: flex;
    /* flex-direction: row; */
  }

  .flex-col {
    width: 100%;
    margin: 0;
    flex-basis: 100%;
    padding: 0px;
  }

  .blog-col {
    margin-bottom: 1rem;
  }


  .artImage {
    margin-bottom: 20px;
  }

  .centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  img {
    max-width:30%;
    margin: 1.5%;
    box-shadow: 5px 5px 8px black;
  }
  
@media (max-width: 720px) {
    .flex-grid-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .content {
        width: 95%;
    }

    .flex-col {
      flex-basis: 100%;
      padding: 0px;
    }

}