@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');

* {
    font-family: 'Solway', serif;
    font-size: 18px;
    color: #484848;
}

hr {
    border: 1px solid black;
}

html {
    background-color: white;
}

a {
    color: #E03857;

}

.content {
    width: 60%;
    margin: 0 auto;
}
    /* background-color:#F1E8E3;
    color: #E03857; */

.description {
    margin-bottom: 1rem;
}

.column-title {
  font-size: 1.25rem;
}



  .flex-grid-container {
    display: flex;
    /* flex-direction: row; */
  }

  .flex-col {
    width: 100%;
    margin: 0;
    flex-basis: 100%;
    padding: 0px;
  }

  .blog-col {
    margin-bottom: 1rem;
  }

  figcaption {
    color: #484848;
    text-align: center;
    font-size: .8rem;
  }

  .artImage {
    margin-bottom: 20px;
  }


  img {
    max-width:100%;
  }
  
@media (max-width: 720px) {
    .flex-grid-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .content {
        width: 95%;
    }

    .flex-col {
      flex-basis: 100%;
      padding: 0px;
    }

}